iframe.calendar {
    width: 100%;
    height: 600px;
}

iframe.map {
    width: 400px;
}

.location-and-hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-and-hours > * {
    margin: 0 1em;
}

.location-and-hours > table td {
    text-align: left;
}

.location-and-hours > table tr > td:first-child {
    font-weight: bold;
    padding: 0 1em 0 0;
}